

form span {

    &.error {
        color: red;
        font-style: italic;
        font-size: small;
    }

    &.click {
        color:rgb(26, 13, 171);
    }
}

form input {

    &.error {
        border-color: red;
    }
}

